*.db
FFW-Axle/FFW-Axle.VC.VC.opendb
*.db
FFW-Axle/Debug/FFW-Axle.pdb
*.exe
*.pdb
*.pdb
FFW-Axle/Debug/FFW-Axle.ilk
*.suo
FFW-Axle/FFW-Axle/Debug/FFW-Axle.tlog/CL.read.1.tlog
FFW-Axle/FFW-Axle/Debug/vc140.pdb
*.idb
*.db
*.suo
FFW-Axle/Debug/FFW-Axle.ilk
*.db
*.tlog
FFW-Axel/FFW-Axle/Debug/*.obj
FFW-Axle/FFW-Axle/Debug/Camera.obj
FFW-Axle/FFW-Axle/Debug/Entity.obj
FFW-Axle/FFW-Axle/Debug/Game.obj
FFW-Axle/FFW-Axle/Debug/GamePadHandler.obj
FFW-Axle/FFW-Axle/Debug/InputHandler.obj
FFW-Axle/FFW-Axle/Debug/KeyboardHandler.obj
FFW-Axle/FFW-Axle/Debug/Loader.obj
FFW-Axle/FFW-Axle/Debug/Mesh.obj
FFW-Axle/FFW-Axle/Debug/MeshEntity.obj
FFW-Axle/FFW-Axle/Debug/MouseHandler.obj
FFW-Axle/FFW-Axle/Debug/Renderer.obj
FFW-Axle/FFW-Axle/Debug/Shader.obj
FFW-Axle/FFW-Axle/Debug/StaticShader.obj
FFW-Axle/FFW-Axle/Debug/Texture.obj
FFW-Axle/FFW-Axle/Debug/TexturedEntity.obj
FFW-Axle/FFW-Axle/Debug/TexturedMesh.obj
FFW-Axle/FFW-Axle/Debug/main.obj